https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Tajawal:wght@500&display=swap
body {
    font-family: 'Playfair Display', serif;
    direction:rtl;

}

ul {
    list-style: none;
}

html {
    scroll-behavior: smooth;
}


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

@media (max-width: 768px) {
    .container {
        width: 100%;
        
    }
}

@media (min-width: 768px) and (max-width:991px) {
    .container {
        width: 750px;
    }
}

@media (min-width: 992px) and (max-width:1199px) {
    .container {
        width: 970px;
    }

}

@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

/* start header style */
header {
    height: 60px;
    height: 60px;
    border: 1px solid  rgb(241, 236, 236) ;
    background-color: rgb(233, 211, 180);
  font-family: 'El Messiri', sans-serif;
position: sticky;
    top: 0;
    z-index: 1000;

}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

header .container img {
margin-top: 6px;
margin-bottom: 6px;
    width: 45px;
    height: 45px;
    border-radius: 50%;
}
@media (max-width: 768px){
header .container img {
    display: none;
}
}
header .container nav{
flex: 1;
display: flex;
justify-content: center;
align-items: center;
}

header .container nav ul {
    display: flex;

}
.nav-tog:hover{
    color: hsl(35, 94%, 14%);

}
.mobile-nav1{
display: flex !important      ;
flex-direction: column;
position: absolute;
top: 100%;
left: 0;
background-color: rgb(207, 185, 153);
width: 100%;
transition: 0.3s;


}

@media(max-width:768px){
header .container nav{
    justify-content:end ;
}
}

@media (max-width: 768px){
header .container nav ul {
    display: none;
}

}
@media(min-width:768px){
    .nav-tog{
        display: none;
    }
}


header .container nav ul li a {
    text-decoration: none;
    display: block;
    padding: 10px 10px;
    font-size: 16px;
    font-weight: 700;
    color: hsl(35, 94%, 14%);
    transition: 0.3s;
    border-radius: 8px;
    
}

@media(max-width: 768px){
    header .container nav ul li a {
        border-bottom: 1px solid  rgb(202, 162, 102);
    }
}
header .container nav ul li a.active,
header .container nav ul li a:hover {
    color: white;
background-color: hsl(35, 94%, 14%);


}
.container .social{
display: flex;
justify-content: space-between;
}
@media (max-width: 768px){
 header .container .social{
    display: none;
}


}

.container .social i{
margin: 5px;
font-size: 17px;
display: flex;
width: 35px;
height: 35px;
background-color: hsl(35, 94%, 14%);
justify-content: center;
align-items: center;
color: rgb(207, 185, 153);
border-radius: 50%;
transition: 0.3s;
cursor: pointer;
}
.container .social i:hover{
background-color:rgb(21, 21, 20) ;
scale: 1.1;
}
/* end header style */
.hero{
  background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url('https://images.unsplash.com/photo-1447933601403-0c6688de566e');
  background-size: cover;
  background-position: center;
  height: calc(80vh - 60px);
}
.hero .container{
display: flex;

}
@media(max-width: 768px){
.hero .container{
    flex-direction: column-reverse;
}

}





.hero .container .hero-img img{
width: 500px;
height: 300px;
border-radius: 30px;
margin-top: 20px;
margin-left: 60px;
top: 90px;
position: absolute;
display: flex;
justify-content: space-between;
right: 900px;
}


.hero .container .hero-title{
color: rgb(233, 211, 180);
  font-family: 'El Messiri', sans-serif;
  margin-left: 20px;
  padding-left: 20px;
  padding-top: 70px;
}
@media(max-width: 768px){
   .hero .container .hero-title{
color:  hsl(35, 94%, 14%);
border-bottom: 10px;
}
}
.hero-info p{
    margin-top: 0;
    margin-bottom: 10px;

}

.hero-info p:first-of-type{
margin-top: 80px;

}
 

@media(max-width:768px){
    .hero .container .hero-title{
       text-align: center; 
    }
}
.socialmedia{
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    width: 250px;
    align-items: center;
    padding: 40px;
    display: grid;
    grid-template-columns: repeat(3,35px);

}
@media(max-width:768px){
   .socialmedia {
       text-align: center; 
    }
}
.socialmedia i{
    font-size: 25px;
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    color:rgb(233, 211, 180) ;
}
    





.text{
color:rgb(233, 211, 180) ;
  font-family: 'El Messiri', sans-serif;


}
.button{
  color:rgb(233, 211, 180) ;
    font-family: 'El Messiri', sans-serif;
background-color: rgba(57, 1, 1, 0.301);
border-radius: 5px;
}
.button:hover{
cursor: pointer;
background-color: hsl(35, 94%, 14%);
scale: 1.1;
transition: 0.3s;
}
.ghasaq-font{
  font-family: 'El Messiri', sans-serif;
  color: rgb(233, 211, 180) ;
  scale: 1.1;
}
@media(max-width:768px){
   .ghasaq-font {
       text-align: center; 
    }
}
/* start services style */
.services{
        background-color: rgba(233, 211, 180, 0.804);
padding: 50px 0;
}
.sectino-titel{
    text-align: center;
font-size: 40px;
color:  hsl(35, 94%, 14%);
margin-bottom: 20px;
  font-family: 'El Messiri', sans-serif;
  line-height: 1.6;

}
@media(max-width:768px){

  .hero-info .ghasaq-font {
    display: none;
  }
}
.sectino-desc{
text-align: center;
font-size: 20px;
color:  hsl(35, 93%, 11%);
margin-bottom: 30px;
  font-family: 'El Messiri', sans-serif;
  line-height: 1.8;
padding: 0 15px;
}

.all-services{
display: grid;
grid-template-columns: repeat(auto-fill ,minmax(270px,1fr));
  font-family: 'El Messiri', sans-serif;
gap: 15px;

}
.all-services .servic{
background-color: rgba(250, 245, 245, 0.499);
padding: 20px;
text-align: center;
box-shadow: 0 0 10px #4b3003;
border-radius: 7px;
transition: 0.3s;
position: relative;
overflow: hidden;
}
.all-services .servic:hover{

transform: translateY(-10px);

}

.all-services .servic::before{
content:"" ;
position: absolute;
top: 0;
left: 0;
width: 2px;
height: 0;
background-color: hsl(35, 94%, 14%);
transition: 0.5s;
}
.all-services .servic::after{
content:"" ;
position: absolute;
bottom:0;
right:0 ;
width: 2px;
height: 0;
background-color: hsl(35, 94%, 14%);
transition: 0.5s;

}


.all-services .servic:hover::after{
height: 100%;
}
.all-services .servic:hover::before{
height: 100%;
}

.all-services .servic img{
width: 70px;
margin-bottom: 15px;

}
.all-services .servic h3{
color: rgb(209, 174, 131);
margin-bottom: 15px;
}
.all-services .servic p{
line-height: 1.5;

}
/* end services style */
/* start about style */
.about-us{
   padding: 50px 0; 
           background-color: rgba(233, 211, 180, 0.804);

}
.about-us .container{
display: flex;
justify-content: space-between;
align-items: center;
    font-family: 'El Messiri', sans-serif;
    background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url('https://images.unsplash.com/photo-1447933601403-0c6688de566e');
  background-size: cover;
  background-position: center;
  border-radius: 20px;

}
@media(max-width: 768px){
    .about-us .container{
        flex-direction: column;
        text-align: center;
    }
}
.about-info,
.about-img{
    width: 80%;
}
@media(max-width: 768px){
    .about-us .container{
        flex-direction: column;
    }
}
.about-info,
.about-img{
    width: 100%;
}
.about-us h2{
font-size: 30px;
color: rgb(233, 211, 180);
margin-bottom: 20px;
margin-top: 20px;
}
.about-us p{
font-size: 17px;
line-height: 1.7;
width: 90%;
margin-bottom: 20px;
color: rgb(209, 174, 131);
}
.about-us .about-call {
color:rgb(233, 211, 180) ;
    font-family: 'El Messiri', sans-serif;
background-color: rgba(57, 1, 1, 0.301);
border-radius: 5px;
cursor:pointer ;
position: relative;
overflow: hidden;
z-index: 1;
margin-bottom: 10px;
}

@media(max-width: 768px){
    .about-us .container{
        flex-direction: column;
    }
}
.about-info,
.about-img{
    width: 100%;
}
.about-us p{
width:100% ;

}
.about-us .about-call{
    margin-bottom: 25px;
    width: 180px;
    height: 48px;
}
.about-us .about-call::before {

position: absolute;
content: "";
width: 0;
left: 0;
top: 0;
background-color: rgb(147, 100, 39);

height: 100%;
transition: 0.5s;
z-index: -1;
}
.about-us .about-call::after {

position: absolute;
content: "";
width: 0;
right: 0;
top: 0;
height: 100%;
transition: 0.5s;
z-index: -1;
background-color: rgb(147, 100, 39);

}

.about-us .about-call:hover::before{
width: 50%;
}
.about-us .about-call:hover::after{
width: 50%;



}
.about-us .about-img{
           background-color: rgba(233, 211, 180, 0.66);
           border-radius: 5px;
           margin: 10px 10px;
           width: 40%;
}
.about-us .about-img img{
transform: translate( -10px,-10px);
border-radius: 5px;
width: 100%;
margin-top: 10px;
}
/* start statistcs  */



.statistcs{
padding: 70px 0;
background-color: rgba(233, 211, 180, 0.66);
background-repeat: no-repeat;
    background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url('https://images.unsplash.com/photo-1447933601403-0c6688de566e');

background-size: cover;
background-attachment: fixed;
.o-object-fit: cover;
background-position: center;
}
.statistcs .container{
display: grid;
grid-template-columns: repeat(auto-fill,minmax(250px , 1fr));
gap: 20px;
color: rgb(233, 211, 180);
    font-family: 'El Messiri', sans-serif;
}
.statistcs .container .stat{
background-color: rgba(233, 211, 180, 0.944);
text-align: center;
padding: 20px 0;
border-radius: 5px;
cursor: pointer;
transition: 0.3s;
height: 200px;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;

}
.statistcs .container .stat h3{
font-size: 35px;
margin-bottom: 15px;
color: #644309 !important;
}
.statistcs .container .stat p{
font-size: 20px;
font-weight: 800;
color: #644309 !important;

}
.statistcs .container .stat:hover{
scale: 1.05;
background-color: rgba(194, 146, 88, 0.952);

}
.icon4{
color: #644309 !important;
font-size: 40px;
padding-bottom: 20px;


}

/* end statistcs  */
/* start courses */
.courses{
padding: 70px ;
background-color: rgba(233, 211, 180, 0.944);


}
.courses .all-courses{
display: grid;
grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
gap: 50px;


}
.courses .all-courses .cours{
background-color: hsl(35, 94%, 14%);
padding-bottom: 20px;
text-align: center;
color: rgb(233, 211, 180);
 font-family: 'El Messiri', sans-serif;
cursor: pointer;
border-radius: 10px;
transition: 0.3s;
box-shadow: 0 0 10px hsl(35, 94%, 14%);
overflow: hidden;
}
.courses .all-courses .cours:hover{
transform: scale(1.03);

}
.courses .all-courses .cours img{

    width: 100%;
    height: 200px;
}
.courses .all-courses .cours .cours-title{

margin-top: 10px;
margin-bottom: 10px;
}
.courses .all-courses .cours p{
line-height:1.7 ;
margin-bottom: 15px;
padding-left: 15px;
   padding-right: 15px;
}
.courses .all-courses .cours h3{
font-size: 30px;
padding: 20px 0;

}
.cours-price{
   display: flex; 
   justify-content: space-between;
   margin-bottom:15px ;
   padding-left: 15px;
   padding-right: 15px;
}
.cours-price div :last-child{
font-weight: 700;
text-decoration:line-through ;
}
.cours-price :last-child{
font-size: 21px;
font-weight: 700;
}
hr{
width: 80%;
transform: translateX(-15%);
margin-bottom: 15px;
}
.cours-deatils{
border: none;
background-color: #664308dc;
color: rgb(233, 211, 180);
padding: 5px 20px ;
border-radius: 5px;
width: 80%;

}
.cours-deatils:hover{
cursor: pointer;
background-color: hsla(35, 88%, 19%, 0.71);
scale: 1.1;
transition: 0.3s;
}
.cours-info{
display: flex;
align-items: center;
justify-content: start;
padding-right: 15px;
}
.cours-info i{
margin-left: 10px;
}
/* end courses */
/* start our work */

.portfolio{
padding: 70px 0;
background-image: url('../emages/photo_٢٠٢٦-٠٨-٣١_١٦-٤٢-٣٥.jpg');
background-attachment: fixed;
background-size: contain;
background-repeat: no-repeat;
background-color: rgb(233, 211, 180);
}



.sectino2-titel{
    text-align: center;
font-size: 40px;
color:  hsla(35, 96%, 33%, 0.734) ;
margin-bottom: 20px;
  font-family: 'El Messiri', sans-serif;
}
.sectino2-desc{
text-align: center;
font-size: 20px;
color:  hsla(35, 96%, 33%, 0.734) ;
margin-bottom: 30px;
  font-family: 'El Messiri', sans-serif;
}
.box{
text-align:right;
position: relative;

}
 .box img{
border: 2px solid  rgb(233, 211, 180);
border-radius: 7px;
 }
.port-container .box .info{
    font-family: 'El Messiri', sans-serif;
color: #4b3003;
padding: 15px 0;
background-color: rgba(250, 235, 215, 0);
width: 100%;
}
.port-container .box .info h3{
font-size: 30px;

}
/* end our work */
/* start team section */
.our-team{
background-color: rgb(233, 211, 180);
padding: 70px 0;
    
}

.our-team .team-container{
display: grid;
grid-template-columns: repeat(auto-fill,minmax(250px,1fr));
gap: 46px;
}
.team-box{
border-radius: 10px;
    background-color: hsla(34, 93%, 11%, 0.971);
    overflow: hidden;
    transition: 0.3s;
    cursor: pointer;
    box-shadow: 0 0 10px #4b3003;
}
.team-box:hover{
transform: translateY(-10px);
filter: grayscale(60%);
}
.team-box:hover img{



}
.social2{
    display:block;
    flex-wrap: wrap;
    width: auto;
    padding: 10px;
    align-items: center;
    

}
.img-social{
display: flex;
justify-content: space-between;
}
.img-social .social2{
display: flex;
justify-content: center;
flex-direction: column;
justify-content: center;
margin-right: 2px;}
.img-social .social2 i{
margin: 4px;
font-size: 20px;
width: 30px;
height: 30px;
color: rgb(233, 211, 180);
border-radius: 50%;
display: flex;
justify-content: center;
align-items: center;
transition: 0.4s;
}
.container .social2 i:hover{
background-color:rgb(70, 38, 1) ;
scale: 1.1;
}
.img-social img{
width: 70%;
display: flex;
text-align: center;
border-radius: 0 0 15px;
}
.team-info{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 15px;
    color: rgb(233, 211, 180);
    font-family: 'El Messiri', sans-serif;

}
/* end team section */
/* <!-- start skills section --> */

.our-skills{
padding: 70px 0;
background-color:rgb(233, 211, 180) ;
font-family: 'El Messiri', sans-serif;
background-image: url('../emages/backgrond.jpg');
background-repeat: no-repeat;
background-size: cover;
background-attachment: fixed;
background-position: center;
}
.our-skills .container{
display: flex;
justify-content: space-between;
align-items: center;
}

.skills-info,
.skills-img{
width: 45%;

}
@media(max-width:768px ){
.our-skills .container{
    flex-direction: column-reverse;
}
.skills-info,
.skills-img{
width: 100%;

}
}
.skills-img img{
    width: 100%;
    border-radius: 10px;
    border: 1px solid rgb(207, 140, 47)   ;

}
.skills-img img:hover{

}
.count{
font-family: 'El Messiri', sans-serif;
display: flex;
justify-content: space-between;
margin-bottom: 5px;
}
.progress .prog{
width: 100%;
height: 30px;
background-color:rgba(70, 38, 1, 0.885) ;
border-radius: 5px;
position: relative;
overflow: hidden;
margin-bottom: 15px;
border: 1px solid rgb(207, 140, 47)   ;

}
.progress .prog span{
position: absolute;

height: 100%;
background-color:rgb(233, 186, 121) ;
transition: 0.4s;
cursor: pointer;
}
.count :last-child{
    color: rgba(67, 39, 7, 0.953);
}
.progress .prog span:hover{
width: 100%   !important ;
}
/* start pricing section */
.pricing-section{
   padding: 70px 0; 
   background-color:rgb(233, 211, 180) ;

}
.pricing-section .container{
display: grid;
grid-template-columns: repeat(auto-fill,minmax(250px,1fr));
gap: 15px;
}
.plan{
background-color:rgb(70, 38, 1) ;
text-align: center;
padding-top: 25px;
padding-bottom: 25px;
font-family: 'El Messiri', sans-serif;
border: 2px solid rgb(165, 93, 4)   ;
    color:rgba(246, 218, 179, 0.503) ;
    position: relative;
    overflow: hidden;
    z-index: 1;
    transition: 0.3s;
}
.plan:hover{
    scale: 1.02;
}
.plan:nth-child(1):before,
.plan:nth-child(3):before{
    content: 'عرض خاص';
    display: flex;
    justify-content: center;
    align-items: center;
    color:rgb(70, 38, 1) ;
position: absolute;
width: 200px;
height: 40px;
background-color: #fbf4cbfd;
top: 30px;
left: -50px;
transform: rotate(-45deg);
z-index: -1;
}
.plan .plan-title{
    font-size: 30px;
    color:rgba(246, 218, 179, 0.503) ;
    padding-bottom: 10px;
}
.plan img{
    background-color: rgb(70, 38, 1);
border-radius: 60%;
width: 80px;
height: 80px;
object-fit: cover;
}
.plan2{
        color:rgba(246, 218, 179, 0.503) ;

    font-family: 'El Messiri', sans-serif;
font-size: 15px;
font-weight: bold;
margin-bottom: 10px;
}
.plan .price p:first-child{
font-size: 35px;
font-weight: bold;
    padding-bottom: 10px;

}
.plan .price p:last-child{
font-size: 18px;
font-weight: bold;
margin-bottom: 10px;

}
.plan ul{
text-align: right;
padding: 15px;
}
.plan ul li{
padding: 15px;
border-top: 1px solid #4b3003;
transition: 0.3s;
cursor: pointer;

}
.plan ul li:hover{
background-color:rgba(246, 218, 179, 0.051) ;
}

.plan-btn{
   background-color:rgba(246, 218, 179, 0.503) ;
 width: 90%;
 border: none;
 border-radius: 5px;
 color: rgb(70, 38, 1);
padding: 10px 5px;
transition: 0.3s;
cursor: pointer;
}
.plan-btn:hover{
scale: 1.05;
}
i.icon2{
color:rgba(154, 90, 1, 0.5) ;


}
/* end pricing section */
/* <!-- start testimonials section --> */
.testimonials{
padding: 70px 0;
background-image: url('../emages/bacbac.jpg');
background-repeat: no-repeat;
background-size: cover;
background-attachment: fixed;
background-position: center;
min-height: 800px;
    border-top: 2px solid #fbf4cbfd;

}
.testimonials .container{
display: grid;
grid-template-columns: repeat(auto-fill,minmax(350px,1fr));
gap: 20px;

}
.testimonials .container .testimonial{
    background-color: #fbf4cbfd;
color: rgb(70, 38, 1);
    font-family: 'El Messiri', sans-serif;
padding: 20px;
border-radius: 10px;
border: 1px solid rgb(165, 93, 4) ;
transition: 0.3s;
cursor: pointer;
position: relative;

}
.testimonials .container .testimonial:hover{
transform: translateY(-5px);

}
.testimonials .container .testimonial::before{

position: absolute;
content:"" ;
left: 0;
bottom: 0;
width: 3px;
height: 0;
background-color: #4b3105;
transition: 0.3s;
}
.testimonials .container .testimonial::after{

position: absolute;
content:"" ;
left: 0;
bottom: 0;
width: 0;
height: 3px;
background-color: #4b3105;
transition: 0.3s;
}

.testimonials .container .testimonial:hover::before{
height: 50%;

}
.testimonials .container .testimonial:hover::after{
width: 50%;

}
.testimonials .container .testimonial img{
    width: 100px;
    height: 100px;
    padding-top: 15px;
    padding-right: 15px;
    object-fit: cover;
    border-radius: 50% !important;
}

.testimonials .container .testimonial h3{

    font-size: 23px;
    margin-bottom: 10px;
}

.testimonials .container .testimonial .start{
    color: rgba(233, 233, 8, 0.685);
}
.testimonials .container .testimonial p{
    font-size: 16px;
    margin-top: 5px;
}

/* <!--   end testimonials section --> */
/* start footer section */
footer{
padding-top: 70px;
    background-color:rgb(233, 211, 180);
    border-top: 2px solid #fbf4cbfd;
    font-family: 'El Messiri', sans-serif;
    background-image: url('../emages/buun.jpg');
justify-content: center;
align-items: center;
}
footer .container{
    display: flex;
    grid-template-columns: repeat(auto-fill,minmax(250px,1fr));
    gap:40px ;
        color:#eae0a4fd;
        text-align: center;

}
footer .container .section  h2{
    
}
@media(max-width:768px){
footer .container .section{
    padding-right: 20px;
    margin-bottom: 20px;
}

}
footer .container .section p{
margin-top: 15px;
    color:#f4ecbefd;
transition: 0.3s;
position: relative;
}
footer .container .section p:hover{
    font-weight: bold;
    padding-right: 4px;
        color:#944d02e7;

}
.fa-solid{
        color:#e4cd45fd;

}
footer .container .section a{
    color:#f4ecbefd;
display: block;
margin-top: 10px;
transition: 0.3s;
position: relative;
}

footer .container .section a:hover{

    color:#944d02e7;
padding-right: 5px;
font-weight: bold;
}
.letter form{
    display: flex;
    flex-direction: column;
    margin: 15px;
}
footer  .icon {
    color:#944d02e7;


}
.letter form input[type ="text"],
.letter form input[type ="email"]{
height: 40px;
margin-bottom: 10px;
padding: 10px;
border-radius: 5px;
caret-color:#ed9a0afd ;
  background-color:rgb(233, 211, 180) ;  
   
transition: 0.3s;

}
 .letter form input[type ="text"]:focus,
.letter form input[type ="email"]:focus{
outline: none;
   background-color:#4d340555 ;
}

.letter form input[type ="submit"]{
   background-color:#944d02e7 ;
       color:#f4ecbefd;
padding: 10px 20px; 
border: none;
border-radius: 5px;
cursor: pointer;
transition: 0.3s;
}
.letter form input[type ="submit"]:hover{
    background-color: rgb(61, 36, 4);
}
.footer-hr{
    width: 70%;
    margin-top: 35px;
    transform: translateX(-15%);
}
.copyright p{
           color:#f4ecbefd;
text-align: center;
}
/* end footer section */

.btn-whatsapp{
position: fixed;
bottom: 30px;
left: 30px;
background-color: #25D366;
color: white;
border-radius: 50%;
width: 60px;
height: 60px;
display: flex;
justify-content: center;
align-items: center;
transition: 0.3s;
box-shadow: 0 0 3px #eee;
}
.btn-whatsapp:hover{
scale: 1.1;


}
.btn-whatsapp i{
font-size: 35px;
}